/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
body
  font-family: "Georgia", "Palatino", serif
  font-size: 18px
blockquote
  font-size: inherit
.header-wrapper .title a
  font-family: inherit
a.home-link::before
  content: url(/img/corelogo.svg)
  width: 40px
  height: 40px
  display: inline-block
  vertical-align: middle
  margin-right: 0.3em
dl > dt
  font-weight: bold
  font-decoration: italic
  margin: 0.8em auto 0.2em auto
.vuepress-blog-theme-content
  border: 2px #f4f4f4 solid
